// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #a8dadc; //changed
$yellow: #FFC65A;
$orange: #E67E22;
$green: #457b9d; //changed
$gray: #1d3557; //changed
$light-gray: #F4F4F4;
